body{
    background-color: #F1EAEA;
}

.wrapper{
    max-width: 500px;
    background-color: #820C0C;
    border-radius: 10px;
    border: 6px solid #C4C4C4;
    padding: 10px;
    margin: 0 auto;
}

button{
    padding: 10px 15px;
    font-size: 24px;
}

input{
    width: 98%;
    height: 30px;
    font-size: 24px;
}

.delete{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.items{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}

.nums{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
}

.equally{
    grid-column: 2 / 4;
}

.actions{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    gap: 5px;
}